<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>GAN다 박창조</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css?ver1">
    <style>
    </style>
</head>
<body>
    <div class="area1">
        <form method="POST" action="/translate">
            <h1> 입력하는 문장을 이미지로 변환해드립니다. </h1>
            <div class="team_info">
                <h2>GAN다 박창조</h2>
                <h4>정보컴퓨터공학전공 201524461 박성국</h4>
                <h4>정보컴퓨터공학전공 201724557 장수현</h4>
                <h4>정보컴퓨터공학전공 201724480 박창조</h4>
            </div>
        </form>
    </div>
    <div class="area2">
        <form method="POST" action="/translate">
            <h2> 이미지 생성하고자 하는 문장을 입력하세요.</h2>
            <div style="margin: 10px;">
                <input class="txt_input" type="text" name="obj">
            </div>
            <button class="btn" type="submit">이미지 변환하기</button>
        </form>
        <div>
            <p>
                <h4>{{obj}}</h4>
                {% if obj == "chicken" %}
                    <h5>delicious!</h5>
                    <img src="../static/css/images/chicken01.png" alt="chicken_img" width=40%;>
                {% else %}
                    {% for i in range(1,10) %}
                        <p>hello</br></p>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</body>
</html>